extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style 
        include ../static/style.css

block content 
     nav#navbar
        ul 
            div#logo 
                img(src="/static/img/website.png")
                |   FDW
            li #[a(href="/") Home] 
            li #[a(href="/") About] 
            li #[a(href="/contact") Contact] 
            li #[a(href="/") Products] 
            li #[a(href="/") Services] 

        section#introSection
            div   Welcome to my first pug website
            div   This is a demo website
            
        section#missionSection
            h2  Our mission
            
            div.card
                h3 Cricket
                div.card-box
                    div.card-img 
                        img(src='/static/img/cricket.png') 
                    div.card-content 
                        p This is content for Cricket    

            div.card
                h3 Football 
                div.card-box
                    div.card-img 
                        img(src='/static/img/football.png') 
                    div.card-content 
                        p This is content for Football    

            div.card
                h3 Gym  
                div.card-box
                    div.card-img 
                        img(src='/static/img/gym.png') 
                    div.card-content 
                        p This is content for Gym     


        section#sponsorsSection
            h2 Our Sponsors              
            div.sponsor
                div.img1 
                    img(src='/static/img/logo1.png')
                div.img2 
                    img(src='/static/img/logo2.png')
                div.img3 
                    img(src='/static/img/logo3.png')
                div.img4 
                    img(src='/static/img/logo4.png')

block foot 
    footer#footer 
        h2  All Rights Reserved Copyright©2021                    

